:root {
    --npa-color: rgba(1, 168, 90, 1);
    --black: rgba(32, 33, 37, 1);
    --grey-text: rgba(143, 143, 143, 1);
    --primary-element-color: rgba(193, 193, 193, 1);
    --red: rgba(240, 46, 57, 1);
    --hover-color: rgba(205, 226, 211, 1);
  }
  