.staff-page {
    width: 1280px;
    height: 1288px;
    background-color: #000000;
    border-radius: 30px;
    overflow: hidden;
  }
  
  .staff-page .overlap {
    position: relative;
    width: 1368px;
    height: 1330px;
    top: 42px;
    left: -33px;
  }
  
  .staff-page .overlap-group {
    position: absolute;
    width: 1368px;
    height: 1330px;
    top: 0;
    left: 0;
  }
  
  .staff-page .ellipse {
    position: absolute;
    width: 505px;
    height: 505px;
    top: 350px;
    left: 421px;
    background-color: #01a85a;
    border-radius: 252.5px;
    filter: blur(400px);
  }
  
  .staff-page .div {
    position: absolute;
    width: 808px;
    height: 808px;
    top: 522px;
    left: 269px;
    background-color: #01a85a;
    border-radius: 404px;
    filter: blur(550px);
  }
  
  .staff-page .total-memo {
    position: absolute;
    width: 272px;
    height: 197px;
    top: 168px;
    left: 347px;
    background-color: #ffffff;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0px 1px 4px #0000001a;
  }
  
  .staff-page .overlap-2 {
    position: relative;
    width: 248px;
    height: 173px;
    top: 24px;
    left: 24px;
  }
  
  .staff-page .frame {
    display: flex;
    flex-direction: column;
    width: 52px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 4px 6px;
    position: absolute;
    top: 0;
    left: 166px;
    background-color: var(--hover-color);
    border-radius: 16px;
  }
  
  .staff-page .frame-2 {
    display: flex;
    align-items: center;
    gap: 4px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .staff-page .arrow-move-down {
    position: relative;
    width: 12px;
    height: 12px;
  }
  
  .staff-page .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    margin-right: -2px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0.8px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .staff-page .overlap-3 {
    position: absolute;
    width: 248px;
    height: 173px;
    top: 0;
    left: 0;
  }
  
  .staff-page .file-wrapper {
    display: flex;
    flex-direction: column;
    width: 66px;
    height: 62px;
    align-items: center;
    justify-content: center;
    gap: 8.36px;
    padding: 10px 4px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--hover-color);
    border-radius: 24px;
    overflow: hidden;
  }
  
  .staff-page .file {
    position: relative;
    width: 36px;
    height: 36px;
  }
  
  .staff-page .overlap-group-2 {
    position: absolute;
    width: 248px;
    height: 122px;
    top: 51px;
    left: 0;
  }
  
  .staff-page .img {
    position: absolute;
    width: 127px;
    height: 122px;
    top: 0;
    left: 121px;
  }
  
  .staff-page .frame-3 {
    display: flex;
    flex-direction: column;
    width: 139px;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
    top: 21px;
    left: 0;
  }
  
  .staff-page .text-wrapper-2 {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    letter-spacing: 1.28px;
    line-height: normal;
  }
  
  .staff-page .text-wrapper-3 {
    position: relative;
    align-self: stretch;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: var(--npa-color);
    font-size: 24px;
    letter-spacing: 1.92px;
    line-height: normal;
  }
  
  .staff-page .text-wrapper-4 {
    position: relative;
    align-self: stretch;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0.8px;
    line-height: normal;
  }
  
  .staff-page .frame-4 {
    display: flex;
    flex-direction: column;
    width: 2px;
    align-items: flex-start;
    gap: 1px;
    position: absolute;
    top: 6px;
    left: 222px;
  }
  
  .staff-page .ellipse-2 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 2px;
    background-color: #000000;
    border-radius: 1px;
  }
  
  .staff-page .nutrition {
    position: absolute;
    width: 908px;
    height: 396px;
    top: 389px;
    left: 344px;
    background-color: #ffffff;
    border-radius: 16px;
  }
  
  .staff-page .text-wrapper-5 {
    position: absolute;
    top: 19px;
    left: 20px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--black);
    font-size: 18px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
  }
  
  .staff-page .numbers {
    display: inline-flex;
    flex-direction: column;
    height: 222px;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    top: 87px;
    left: 20px;
  }
  
  .staff-page .text-wrapper-6 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Chillax-Regular", Helvetica;
    font-weight: 400;
    color: var(--grey-text);
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
    white-space: nowrap;
  }
  
  .staff-page .text-wrapper-7 {
    position: relative;
    width: fit-content;
    font-family: "Chillax-Regular", Helvetica;
    font-weight: 400;
    color: var(--grey-text);
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
    white-space: nowrap;
  }
  
  .staff-page .rectangle-wrapper {
    position: absolute;
    width: 32px;
    height: 136px;
    top: 137px;
    left: 78px;
    background-color: #01a85a;
    border-radius: 18px;
  }
  
  .staff-page .rectangle {
    position: relative;
    height: 69px;
    top: 67px;
    background-color: #ff4b4b;
    border-radius: 18px;
  }
  
  .staff-page .text-wrapper-8 {
    position: absolute;
    top: 284px;
    left: 81px;
    font-family: "Chillax-Regular", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .staff-page .div-wrapper {
    position: absolute;
    width: 32px;
    height: 91px;
    top: 182px;
    left: 146px;
    background-color: #01a85a;
    border-radius: 18px;
  }
  
  .staff-page .rectangle-2 {
    position: relative;
    height: 72px;
    top: 19px;
    background-color: #ff4b4b;
    border-radius: 18px;
  }
  
  .staff-page .text-wrapper-9 {
    position: absolute;
    top: 284px;
    left: 147px;
    font-family: "Chillax-Regular", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .staff-page .overlap-4 {
    position: absolute;
    width: 32px;
    height: 127px;
    top: 146px;
    left: 214px;
    background-color: #01a85a;
    border-radius: 18px;
  }
  
  .staff-page .rectangle-3 {
    position: relative;
    height: 85px;
    top: 42px;
    background-color: #ff4b4b;
    border-radius: 18px;
  }
  
  .staff-page .text-wrapper-10 {
    position: absolute;
    top: 284px;
    left: 214px;
    font-family: "Chillax-Regular", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .staff-page .overlap-5 {
    position: absolute;
    width: 32px;
    height: 120px;
    top: 153px;
    left: 281px;
    background-color: #01a85a;
    border-radius: 18px;
  }
  
  .staff-page .rectangle-4 {
    position: relative;
    height: 64px;
    top: 56px;
    background-color: #ff4b4b;
    border-radius: 18px;
  }
  
  .staff-page .text-wrapper-11 {
    position: absolute;
    top: 284px;
    left: 284px;
    font-family: "Chillax-Regular", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .staff-page .overlap-6 {
    position: absolute;
    width: 32px;
    height: 91px;
    top: 182px;
    left: 351px;
    background-color: #01a85a;
    border-radius: 18px;
  }
  
  .staff-page .text-wrapper-12 {
    position: absolute;
    top: 284px;
    left: 349px;
    font-family: "Chillax-Regular", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .staff-page .overlap-7 {
    position: absolute;
    width: 32px;
    height: 197px;
    top: 76px;
    left: 421px;
    background-color: #01a85a;
    border-radius: 18px;
  }
  
  .staff-page .rectangle-5 {
    position: relative;
    height: 127px;
    top: 70px;
    background-color: #ff4b4b;
    border-radius: 18px;
  }
  
  .staff-page .text-wrapper-13 {
    position: absolute;
    top: 284px;
    left: 424px;
    font-family: "Chillax-Regular", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .staff-page .overlap-8 {
    position: absolute;
    width: 32px;
    height: 153px;
    top: 120px;
    left: 489px;
    background-color: #01a85a;
    border-radius: 18px;
  }
  
  .staff-page .rectangle-6 {
    position: relative;
    height: 45px;
    top: 108px;
    background-color: #ff4b4b;
    border-radius: 18px;
  }
  
  .staff-page .text-wrapper-14 {
    position: absolute;
    top: 284px;
    left: 495px;
    font-family: "Chillax-Regular", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .staff-page .overlap-9 {
    position: absolute;
    width: 32px;
    height: 197px;
    top: 76px;
    left: 557px;
    background-color: #01a85a;
    border-radius: 18px;
  }
  
  .staff-page .rectangle-7 {
    position: relative;
    height: 165px;
    top: 32px;
    background-color: #ff4b4b;
    border-radius: 18px;
  }
  
  .staff-page .text-wrapper-15 {
    position: absolute;
    top: 284px;
    left: 557px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: var(--black);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .staff-page .overlap-10 {
    position: absolute;
    width: 32px;
    height: 120px;
    top: 153px;
    left: 625px;
    background-color: #01a85a;
    border-radius: 18px;
  }
  
  .staff-page .text-wrapper-16 {
    position: absolute;
    top: 284px;
    left: 625px;
    font-family: "Chillax-Regular", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .staff-page .overlap-11 {
    position: absolute;
    width: 32px;
    height: 153px;
    top: 120px;
    left: 692px;
    background-color: #ff4b4b;
    border-radius: 18px;
  }
  
  .staff-page .rectangle-8 {
    position: relative;
    height: 91px;
    top: 62px;
    background-color: #01a85a;
    border-radius: 18px;
  }
  
  .staff-page .text-wrapper-17 {
    position: absolute;
    top: 284px;
    left: 694px;
    font-family: "Chillax-Regular", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .staff-page .overlap-12 {
    position: absolute;
    width: 32px;
    height: 171px;
    top: 102px;
    left: 760px;
    background-color: #01a85a;
    border-radius: 18px;
  }
  
  .staff-page .rectangle-9 {
    position: absolute;
    width: 32px;
    height: 171px;
    top: 0;
    left: 0;
    background-color: #01a85a;
    border-radius: 18px;
  }
  
  .staff-page .rectangle-10 {
    position: absolute;
    width: 32px;
    height: 69px;
    top: 102px;
    left: 0;
    background-color: #ff4b4b;
    border-radius: 18px;
  }
  
  .staff-page .text-wrapper-18 {
    position: absolute;
    top: 284px;
    left: 761px;
    font-family: "Chillax-Regular", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .staff-page .overlap-13 {
    position: absolute;
    width: 32px;
    height: 120px;
    top: 153px;
    left: 828px;
    background-color: #01a85a;
    border-radius: 18px;
  }
  
  .staff-page .rectangle-11 {
    position: relative;
    height: 103px;
    top: 17px;
    background-color: #ff4b4b;
    border-radius: 18px;
  }
  
  .staff-page .text-wrapper-19 {
    position: absolute;
    top: 284px;
    left: 829px;
    font-family: "Chillax-Regular", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .staff-page .week {
    display: inline-flex;
    height: 32px;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    padding: 0px 12px;
    position: absolute;
    top: 20px;
    left: 787px;
    background-color: #e8e8e8;
    border-radius: 16px;
  }
  
  .staff-page .text-wrapper-20 {
    position: relative;
    width: fit-content;
    font-family: "Chillax-Regular", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .staff-page .linear-arrows-alt {
    position: relative;
    width: 16px;
    height: 16px;
  }
  
  .staff-page .frame-5 {
    display: inline-flex;
    align-items: center;
    gap: 24px;
    position: absolute;
    top: 337px;
    left: 78px;
  }
  
  .staff-page .frame-6 {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .staff-page .rectangle-12 {
    position: relative;
    width: 41px;
    height: 27px;
    background-color: #01a85a;
    border-radius: 14px;
  }
  
  .staff-page .text-wrapper-21 {
    position: relative;
    width: fit-content;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .staff-page .rectangle-13 {
    position: relative;
    width: 41px;
    height: 27px;
    background-color: #ff4b4b;
    border-radius: 14px;
  }
  
  .staff-page .line {
    width: 634px;
    height: 1px;
    top: 486px;
    left: 496px;
    position: absolute;
    object-fit: cover;
  }
  
  .staff-page .text-wrapper-22 {
    position: absolute;
    top: 820px;
    left: 91px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 1.44px;
    line-height: normal;
  }
  
  .staff-page .rectangle-14 {
    position: absolute;
    width: 1165px;
    height: 74px;
    top: 879px;
    left: 90px;
    background-color: #01a85a;
    border-radius: 16px 16px 0px 0px;
  }
  
  .staff-page .frame-7 {
    position: absolute;
    width: 1165px;
    height: 232px;
    top: 953px;
    left: 90px;
    background-color: #ffffff;
  }
  
  .staff-page .request-for-printer {
    position: absolute;
    top: 12px;
    left: 148px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0.96px;
    line-height: normal;
  }
  
  .staff-page .request-for-printer-2 {
    top: 68px;
    position: absolute;
    left: 148px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0.96px;
    line-height: normal;
  }
  
  .staff-page .request-for-printer-3 {
    top: 128px;
    position: absolute;
    left: 148px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0.96px;
    line-height: normal;
  }
  
  .staff-page .text-wrapper-23 {
    top: 20px;
    position: absolute;
    left: 261px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0.96px;
    line-height: normal;
  }
  
  .staff-page .text-wrapper-24 {
    top: 75px;
    position: absolute;
    left: 261px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0.96px;
    line-height: normal;
  }
  
  .staff-page .text-wrapper-25 {
    top: 136px;
    position: absolute;
    left: 261px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0.96px;
    line-height: normal;
  }
  
  .staff-page .text-wrapper-26 {
    position: absolute;
    top: 20px;
    left: 408px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0.96px;
    line-height: normal;
  }
  
  .staff-page .text-wrapper-27 {
    top: 75px;
    position: absolute;
    left: 408px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0.96px;
    line-height: normal;
  }
  
  .staff-page .text-wrapper-28 {
    top: 136px;
    position: absolute;
    left: 408px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0.96px;
    line-height: normal;
  }
  
  .staff-page .text-wrapper-29 {
    position: absolute;
    width: 131px;
    top: 20px;
    left: 531px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0.96px;
    line-height: normal;
  }
  
  .staff-page .text-wrapper-30 {
    top: 20px;
    left: 683px;
    position: absolute;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0.96px;
    line-height: normal;
  }
  
  .staff-page .text-wrapper-31 {
    top: 75px;
    left: 539px;
    position: absolute;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0.96px;
    line-height: normal;
  }
  
  .staff-page .text-wrapper-32 {
    top: 75px;
    left: 683px;
    position: absolute;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0.96px;
    line-height: normal;
  }
  
  .staff-page .text-wrapper-33 {
    width: 131px;
    top: 136px;
    left: 531px;
    position: absolute;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0.96px;
    line-height: normal;
  }
  
  .staff-page .text-wrapper-34 {
    top: 136px;
    left: 683px;
    position: absolute;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0.96px;
    line-height: normal;
  }
  
  .staff-page .text-wrapper-35 {
    position: absolute;
    top: 20px;
    left: 863px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0.96px;
    line-height: normal;
  }
  
  .staff-page .text-wrapper-36 {
    position: absolute;
    top: 75px;
    left: 863px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0.96px;
    line-height: normal;
  }
  
  .staff-page .text-wrapper-37 {
    position: absolute;
    top: 136px;
    left: 863px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0.96px;
    line-height: normal;
  }
  
  .staff-page .text-wrapper-38 {
    position: absolute;
    top: 20px;
    left: 963px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0.96px;
    line-height: normal;
  }
  
  .staff-page .text-wrapper-39 {
    position: absolute;
    top: 75px;
    left: 955px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0.96px;
    line-height: normal;
  }
  
  .staff-page .text-wrapper-40 {
    position: absolute;
    top: 136px;
    left: 963px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0.96px;
    line-height: normal;
  }
  
  .staff-page .frame-8 {
    display: flex;
    width: 104px;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: 17px;
    left: 1040px;
  }
  
  .staff-page .img-2 {
    position: relative;
    width: 21.73px;
    height: 21.73px;
  }
  
  .staff-page .img-3 {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .staff-page .frame-9 {
    display: flex;
    width: 104px;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: 73px;
    left: 1040px;
  }
  
  .staff-page .frame-10 {
    display: flex;
    width: 104px;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: 133px;
    left: 1040px;
  }
  
  .staff-page .text-wrapper-41 {
    position: absolute;
    top: 17px;
    left: 18px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0.96px;
    line-height: normal;
  }
  
  .staff-page .text-wrapper-42 {
    top: 72px;
    position: absolute;
    left: 18px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0.96px;
    line-height: normal;
  }
  
  .staff-page .text-wrapper-43 {
    top: 136px;
    position: absolute;
    left: 18px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0.96px;
    line-height: normal;
  }
  
  .staff-page .view-inbox {
    display: inline-flex;
    align-items: center;
    gap: 2px;
    position: absolute;
    top: 189px;
    left: 1027px;
  }
  
  .staff-page .text-wrapper-44 {
    position: relative;
    width: fit-content;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #01a85a;
    font-size: 12px;
    letter-spacing: 0.96px;
    line-height: normal;
  }
  
  .staff-page .group {
    width: 36px;
    position: relative;
    height: 18px;
  }
  
  .staff-page .search {
    position: absolute;
    width: 424px;
    height: 47px;
    top: 809px;
    left: 828px;
    background-color: #e8e8e8;
    border-radius: 19.21px;
    overflow: hidden;
    border: 0.96px solid;
  }
  
  .staff-page .frame-11 {
    display: flex;
    width: 134px;
    align-items: center;
    gap: 11.77px;
    position: relative;
    top: 12px;
    left: 15px;
  }
  
  .staff-page .search-2 {
    position: relative;
    width: 23.06px;
    height: 23.06px;
  }
  
  .staff-page .input {
    position: relative;
    width: fit-content;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: var(--primary-element-color);
    font-size: 13.4px;
    letter-spacing: 1.08px;
    line-height: normal;
    white-space: nowrap;
    background: transparent;
    border: none;
    padding: 0;
  }
  
  .staff-page .text-wrapper-45 {
    position: absolute;
    top: 905px;
    left: 105px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 15.7px;
    letter-spacing: 1.26px;
    line-height: normal;
  }
  
  .staff-page .text-wrapper-46 {
    position: absolute;
    top: 905px;
    left: 239px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 15.7px;
    letter-spacing: 1.26px;
    line-height: normal;
  }
  
  .staff-page .text-wrapper-47 {
    position: absolute;
    top: 905px;
    left: 351px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 15.7px;
    letter-spacing: 1.26px;
    line-height: normal;
  }
  
  .staff-page .text-wrapper-48 {
    position: absolute;
    top: 905px;
    left: 498px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 15.7px;
    letter-spacing: 1.26px;
    line-height: normal;
  }
  
  .staff-page .date-of-letter {
    position: absolute;
    width: 76px;
    top: 895px;
    left: 621px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 15.7px;
    letter-spacing: 1.26px;
    line-height: normal;
  }
  
  .staff-page .date-sent {
    position: absolute;
    top: 895px;
    left: 773px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 15.7px;
    text-align: center;
    letter-spacing: 1.26px;
    line-height: normal;
  }
  
  .staff-page .text-wrapper-49 {
    position: absolute;
    top: 905px;
    left: 919px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 15.7px;
    letter-spacing: 1.26px;
    line-height: normal;
  }
  
  .staff-page .text-wrapper-50 {
    position: absolute;
    top: 905px;
    left: 1040px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 15.7px;
    letter-spacing: 1.26px;
    line-height: normal;
  }
  
  .staff-page .text-wrapper-51 {
    position: absolute;
    top: 905px;
    left: 1146px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 15.7px;
    letter-spacing: 1.26px;
    line-height: normal;
  }
  
  .staff-page .side-tab {
    position: absolute;
    width: 233px;
    height: 781px;
    top: 0;
    left: 90px;
  }
  
  .staff-page .overlap-14 {
    position: relative;
    height: 781px;
    border-radius: 24px;
  }
  
  .staff-page .line-wrapper {
    position: absolute;
    width: 233px;
    height: 781px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 24px;
    overflow: hidden;
  }
  
  .staff-page .line-2 {
    position: absolute;
    width: 174px;
    height: 1px;
    top: 690px;
    left: 30px;
    object-fit: cover;
  }
  
  .staff-page .frame-12 {
    display: flex;
    width: 211px;
    align-items: center;
    gap: 8px;
    padding: 8px 18px;
    position: absolute;
    top: 160px;
    left: 10px;
    background-color: #01a85a;
    border-radius: 16px;
  }
  
  .staff-page .text-wrapper-52 {
    position: relative;
    width: fit-content;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 13.5px;
    white-space: nowrap;
  }
  
  .staff-page .frame-13 {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    top: 224px;
    left: 23px;
  }
  
  .staff-page .text-wrapper-53 {
    position: relative;
    width: fit-content;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 13.5px;
    white-space: nowrap;
  }
  
  .staff-page .frame-14 {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    top: 272px;
    left: 23px;
  }
  
  .staff-page .frame-15 {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    top: 711px;
    left: 70px;
  }
  
  .staff-page .logo {
    display: inline-flex;
    align-items: center;
    position: absolute;
    top: 23px;
    left: 23px;
  }
  
  .staff-page .NPA-logo-wrapper {
    position: relative;
    width: 115.62px;
    height: 94.02px;
    background-color: #ffffff;
    border-radius: 38.12px;
  }
  
  .staff-page .NPA-logo {
    display: flex;
    width: 64px;
    height: 64px;
    align-items: center;
    gap: 5.08px;
    position: relative;
    top: 15px;
    left: 27px;
    background-color: #ffffff;
  }
  
  .staff-page .jpmp-x {
    position: relative;
    width: 63.53px;
    height: 63.53px;
  }
  
  .staff-page .nigerian-port {
    position: relative;
    width: fit-content;
    margin-left: -18.81px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 13.5px;
  }
  
  .staff-page .line-3 {
    width: 1165px;
    height: 1px;
    top: 1006px;
    left: 90px;
    position: absolute;
    object-fit: cover;
  }
  
  .staff-page .line-4 {
    width: 1164px;
    height: 2px;
    top: 1066px;
    left: 91px;
    position: absolute;
    object-fit: cover;
  }
  
  .staff-page .line-5 {
    width: 1164px;
    height: 1px;
    top: 1127px;
    left: 91px;
    position: absolute;
    object-fit: cover;
  }
  
  .staff-page .frame-16 {
    display: flex;
    width: 1368px;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 8px 453px;
    position: absolute;
    top: 1210px;
    left: 0;
    background-color: #ffffff;
    border-radius: 24px;
    box-shadow: 0px 1px 4px #0000001a;
  }
  
  .staff-page .c-wrapper {
    width: 18px;
    border-radius: 9px;
    border: 1px solid;
    border-color: var(--npa-color);
    position: relative;
    height: 18px;
  }
  
  .staff-page .c {
    position: absolute;
    width: 8px;
    height: 9px;
    top: 4px;
    left: 4px;
  }
  
  .staff-page .p {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: var(--npa-color);
    font-size: 16px;
    letter-spacing: 1.28px;
    line-height: normal;
  }
  
  .staff-page .frame-17 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px 24px;
    position: absolute;
    top: 100px;
    left: 347px;
    background-color: #01a85a;
    border-radius: 12px;
  }
  
  .staff-page .text-wrapper-54 {
    position: relative;
    width: fit-content;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 13.5px;
    white-space: nowrap;
  }
  
  .staff-page .welcome-admin {
    position: absolute;
    width: 911px;
    height: 76px;
    top: 0;
    left: 347px;
  }
  
  .staff-page .overlap-15 {
    position: relative;
    width: 909px;
    height: 76px;
    background-color: #ffffff;
    border-radius: 16px;
  }
  
  .staff-page .frame-18 {
    display: inline-flex;
    align-items: center;
    gap: 24px;
    position: absolute;
    top: 11px;
    left: 504px;
  }
  
  .staff-page .frame-wrapper {
    position: relative;
    width: 327px;
    height: 46.59px;
    background-color: #e8e8e8;
    border-radius: 19.21px;
    overflow: hidden;
    border: 0.96px solid;
  }
  
  .staff-page .text-wrapper-55 {
    position: relative;
    width: fit-content;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: var(--primary-element-color);
    font-size: 13.4px;
    letter-spacing: 1.08px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .staff-page .notification {
    position: relative;
    width: 30px;
    height: 37.5px;
  }
  
  .staff-page .overlap-group-3 {
    position: relative;
    height: 38px;
  }
  
  .staff-page .ellipse-3 {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0;
    left: 18px;
    background-color: var(--red);
    border-radius: 5.25px;
  }
  
  .staff-page .notification-2 {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 8px;
    left: 0;
  }
  
  .staff-page .text-wrapper-56 {
    position: absolute;
    top: 31px;
    left: 24px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 13.5px;
    white-space: nowrap;
  }
  